.animated-text {
  overflow: hidden; /* Ensures text doesn't overflow its container */
  white-space: nowrap; /* Prevents text from wrapping */
  font-size: inherit; /* Inherit font size */
  animation: typing 20s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0%, 50%, 100% {
    width: 0;
  }
  25%, 75% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.animated-text::after {
  content: ''; /* Add a blinking cursor after the text */
  display: inline-block;
  width: 0; /* Initially hide the cursor */
  animation: blink-caret 0.75s step-end infinite;
}

@media (max-width: 1023px) {
  .animated-text{
  
    white-space: normal;
    animation: none;
  }
}

